In [ ]:
import pandas as pd
homeless = pd.read_csv('homelessness.csv', index_col= 0)

In [ ]:
homeless[['state','region']]                #need to use double sq brackets compulsory for selecting more than one columns

                   state              region
0                Alabama  East South Central
1                 Alaska             Pacific
2                Arizona            Mountain
3               Arkansas  West South Central
4             California             Pacific
5               Colorado            Mountain
6            Connecticut         New England
7               Delaware      South Atlantic
8   District of Columbia      South Atlantic
9                Florida      South Atlantic
10               Georgia      South Atlantic
11                Hawaii             Pacific
12                 Idaho            Mountain
13              Illinois  East North Central
14               Indiana  East North Central
15                  Iowa  West North Central
16                Kansas  West North Central
17              Kentucky  East South Central
18             Louisiana  West South Central
19                 Maine         New England
20              Maryland      South Atlantic
21         Massachusetts         New England
22              Michigan  East North Central
23             Minnesota  West North Central
24           Mississippi  East South Central
25              Missouri  West North Central
26               Montana            Mountain
27              Nebraska  West North Central
28                Nevada            Mountain
29         New Hampshire         New England
30            New Jersey        Mid-Atlantic
31            New Mexico            Mountain
32              New York        Mid-Atlantic
33        North Carolina      South Atlantic
34          North Dakota  West North Central
35                  Ohio  East North Central
36              Oklahoma  West South Central
37                Oregon             Pacific
38          Pennsylvania        Mid-Atlantic
39          Rhode Island         New England
40        South Carolina      South Atlantic
41          South Dakota  West North Central
42             Tennessee  East South Central
43                 Texas  West South Central
44                  Utah            Mountain
45               Vermont         New England
46              Virginia      South Atlantic
47            Washington             Pacific
48         West Virginia      South Atlantic
49             Wisconsin  East North Central
50               Wyoming            Mountain

In [ ]:
homeless.sort_values('region', ascending = False)

                region                 state  ...  family_members  state_pop
36  West South Central              Oklahoma  ...          1048.0    3940235
3   West South Central              Arkansas  ...           432.0    3009733
18  West South Central             Louisiana  ...           519.0    4659690
43  West South Central                 Texas  ...          6111.0   28628666
25  West North Central              Missouri  ...          2107.0    6121623
15  West North Central                  Iowa  ...          1038.0    3148618
27  West North Central              Nebraska  ...           676.0    1925614
23  West North Central             Minnesota  ...          3250.0    5606249
41  West North Central          South Dakota  ...           323.0     878698
16  West North Central                Kansas  ...           773.0    2911359
34  West North Central          North Dakota  ...            75.0     758080
8       South Atlantic  District of Columbia  ...          3134.0     701547
48      South Atlantic         West Virginia  ...           222.0    1804291
40      South Atlantic        South Carolina  ...           851.0    5084156
20      South Atlantic              Maryland  ...          2230.0    6035802
7       South Atlantic              Delaware  ...           374.0     965479
10      South Atlantic               Georgia  ...          2556.0   10511131
33      South Atlantic        North Carolina  ...          2817.0   10381615
9       South Atlantic               Florida  ...          9587.0   21244317
46      South Atlantic              Virginia  ...          2047.0    8501286
11             Pacific                Hawaii  ...          2399.0    1420593
47             Pacific            Washington  ...          5880.0    7523869
1              Pacific                Alaska  ...           582.0     735139
4              Pacific            California  ...         20964.0   39461588
37             Pacific                Oregon  ...          3337.0    4181886
19         New England                 Maine  ...          1066.0    1339057
6          New England           Connecticut  ...          1696.0    3571520
45         New England               Vermont  ...           511.0     624358
39         New England          Rhode Island  ...           354.0    1058287
29         New England         New Hampshire  ...           615.0    1353465
21         New England         Massachusetts  ...         13257.0    6882635
44            Mountain                  Utah  ...           972.0    3153550
50            Mountain               Wyoming  ...           205.0     577601
2             Mountain               Arizona  ...          2606.0    7158024
28            Mountain                Nevada  ...           486.0    3027341
26            Mountain               Montana  ...           422.0    1060665
5             Mountain              Colorado  ...          3250.0    5691287
12            Mountain                 Idaho  ...           715.0    1750536
31            Mountain            New Mexico  ...           602.0    2092741
32        Mid-Atlantic              New York  ...         52070.0   19530351
30        Mid-Atlantic            New Jersey  ...          3350.0    8886025
38        Mid-Atlantic          Pennsylvania  ...          5349.0   12800922
17  East South Central              Kentucky  ...           953.0    4461153
42  East South Central             Tennessee  ...          1744.0    6771631
24  East South Central           Mississippi  ...           328.0    2981020
0   East South Central               Alabama  ...           864.0    4887681
14  East North Central               Indiana  ...          1482.0    6695497
13  East North Central              Illinois  ...          3891.0   12723071
22  East North Central              Michigan  ...          3142.0    9984072
35  East North Central                  Ohio  ...          3320.0   11676341
49  East North Central             Wisconsin  ...          2167.0    5807406

[51 rows x 5 columns]

In [ ]:
homeless[['state','region','state_pop']]

                   state              region  state_pop
0                Alabama  East South Central    4887681
1                 Alaska             Pacific     735139
2                Arizona            Mountain    7158024
3               Arkansas  West South Central    3009733
4             California             Pacific   39461588
5               Colorado            Mountain    5691287
6            Connecticut         New England    3571520
7               Delaware      South Atlantic     965479
8   District of Columbia      South Atlantic     701547
9                Florida      South Atlantic   21244317
10               Georgia      South Atlantic   10511131
11                Hawaii             Pacific    1420593
12                 Idaho            Mountain    1750536
13              Illinois  East North Central   12723071
14               Indiana  East North Central    6695497
15                  Iowa  West North Central    3148618
16                Kansas  West North Central    2911359
17              Kentucky  East South Central    4461153
18             Louisiana  West South Central    4659690
19                 Maine         New England    1339057
20              Maryland      South Atlantic    6035802
21         Massachusetts         New England    6882635
22              Michigan  East North Central    9984072
23             Minnesota  West North Central    5606249
24           Mississippi  East South Central    2981020
25              Missouri  West North Central    6121623
26               Montana            Mountain    1060665
27              Nebraska  West North Central    1925614
28                Nevada            Mountain    3027341
29         New Hampshire         New England    1353465
30            New Jersey        Mid-Atlantic    8886025
31            New Mexico            Mountain    2092741
32              New York        Mid-Atlantic   19530351
33        North Carolina      South Atlantic   10381615
34          North Dakota  West North Central     758080
35                  Ohio  East North Central   11676341
36              Oklahoma  West South Central    3940235
37                Oregon             Pacific    4181886
38          Pennsylvania        Mid-Atlantic   12800922
39          Rhode Island         New England    1058287
40        South Carolina      South Atlantic    5084156
41          South Dakota  West North Central     878698
42             Tennessee  East South Central    6771631
43                 Texas  West South Central   28628666
44                  Utah            Mountain    3153550
45               Vermont         New England     624358
46              Virginia      South Atlantic    8501286
47            Washington             Pacific    7523869
48         West Virginia      South Atlantic    1804291
49             Wisconsin  East North Central    5807406
50               Wyoming            Mountain     577601

In [ ]:
df1 = homeless[homeless['state_pop']<5000000]

In [ ]:
print(df1)

                region                 state  ...  family_members  state_pop
0   East South Central               Alabama  ...           864.0    4887681
1              Pacific                Alaska  ...           582.0     735139
3   West South Central              Arkansas  ...           432.0    3009733
6          New England           Connecticut  ...          1696.0    3571520
7       South Atlantic              Delaware  ...           374.0     965479
8       South Atlantic  District of Columbia  ...          3134.0     701547
11             Pacific                Hawaii  ...          2399.0    1420593
12            Mountain                 Idaho  ...           715.0    1750536
15  West North Central                  Iowa  ...          1038.0    3148618
16  West North Central                Kansas  ...           773.0    2911359
17  East South Central              Kentucky  ...           953.0    4461153
18  West South Central             Louisiana  ...           519.0    4659690
19         New England                 Maine  ...          1066.0    1339057
24  East South Central           Mississippi  ...           328.0    2981020
26            Mountain               Montana  ...           422.0    1060665
27  West North Central              Nebraska  ...           676.0    1925614
28            Mountain                Nevada  ...           486.0    3027341
29         New England         New Hampshire  ...           615.0    1353465
31            Mountain            New Mexico  ...           602.0    2092741
34  West North Central          North Dakota  ...            75.0     758080
36  West South Central              Oklahoma  ...          1048.0    3940235
37             Pacific                Oregon  ...          3337.0    4181886
39         New England          Rhode Island  ...           354.0    1058287
41  West North Central          South Dakota  ...           323.0     878698
44            Mountain                  Utah  ...           972.0    3153550
45         New England               Vermont  ...           511.0     624358
48      South Atlantic         West Virginia  ...           222.0    1804291
50            Mountain               Wyoming  ...           205.0     577601

[28 rows x 5 columns]

In [ ]:
df1

                region                 state  ...  family_members  state_pop
0   East South Central               Alabama  ...           864.0    4887681
1              Pacific                Alaska  ...           582.0     735139
3   West South Central              Arkansas  ...           432.0    3009733
6          New England           Connecticut  ...          1696.0    3571520
7       South Atlantic              Delaware  ...           374.0     965479
8       South Atlantic  District of Columbia  ...          3134.0     701547
11             Pacific                Hawaii  ...          2399.0    1420593
12            Mountain                 Idaho  ...           715.0    1750536
15  West North Central                  Iowa  ...          1038.0    3148618
16  West North Central                Kansas  ...           773.0    2911359
17  East South Central              Kentucky  ...           953.0    4461153
18  West South Central             Louisiana  ...           519.0    4659690
19         New England                 Maine  ...          1066.0    1339057
24  East South Central           Mississippi  ...           328.0    2981020
26            Mountain               Montana  ...           422.0    1060665
27  West North Central              Nebraska  ...           676.0    1925614
28            Mountain                Nevada  ...           486.0    3027341
29         New England         New Hampshire  ...           615.0    1353465
31            Mountain            New Mexico  ...           602.0    2092741
34  West North Central          North Dakota  ...            75.0     758080
36  West South Central              Oklahoma  ...          1048.0    3940235
37             Pacific                Oregon  ...          3337.0    4181886
39         New England          Rhode Island  ...           354.0    1058287
41  West North Central          South Dakota  ...           323.0     878698
44            Mountain                  Utah  ...           972.0    3153550
45         New England               Vermont  ...           511.0     624358
48      South Atlantic         West Virginia  ...           222.0    1804291
50            Mountain               Wyoming  ...           205.0     577601

[28 rows x 5 columns]

In [ ]:
print(df1.loc[0:24,['region','state']])

                region                 state
0   East South Central               Alabama
1              Pacific                Alaska
3   West South Central              Arkansas
6          New England           Connecticut
7       South Atlantic              Delaware
8       South Atlantic  District of Columbia
11             Pacific                Hawaii
12            Mountain                 Idaho
15  West North Central                  Iowa
16  West North Central                Kansas
17  East South Central              Kentucky
18  West South Central             Louisiana
19         New England                 Maine
24  East South Central           Mississippi

In [ ]:
print(df1.iloc[0:5,0:2])

               region        state
0  East South Central      Alabama
1             Pacific       Alaska
3  West South Central     Arkansas
6         New England  Connecticut
7      South Atlantic     Delaware